.navbar1 {
  background-color: #080424;
  color: white;
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2%;
}

.footer1 {
  font-size: x-small;
  background-color: #080424;
  color: white;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item1 {
  display: flex;
}

.push-up {
  padding-bottom: 12px;
}

.nav-item1-button {
  background-color: #080424;
  color: white;
  border: 2px solid white;
}

.award {
  width: 100%;
  height: 100%;
}

.container1 {
  background-image: url(./hotelMarkupAssets/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box1 {
  width: 50%;
  height: 175px;
  background-color: #080424;
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container2 {
  color: white;
  background-image: url(./hotelMarkupAssets/bg2.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container3 {
  gap: 1%;
  padding-bottom: 10px;
  display: flex;
}

.text-box2 {
  font-size: small;
}

.container4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.hide {
  list-style-type: none;
  color: white;
}

.gaps {
  gap: 1%;
  padding-bottom: 100px;
  padding-top: 60px;
  text-align: center;
}

.container6 {
  background-image: url(./hotelMarkupAssets/bg.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container7 {
  background-image: url(./hotelMarkupAssets/hamsterreserve.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 70%;
  font-size: x-small;
}

.container8 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #080424;
  color: white;
}

.container9 {
  display: flex;
  gap: 1%;
  padding-top: 3%;
  padding-bottom: 4%;
  align-items: center;
}

.container9 button {
  width: 100px;
  align-self: center;
  margin-top: 11px;
  color: white;
  border: none;
  height: 23px;
}

.responsive-text {
  display: none;
}

.card-size {
  width: 18rem;
}

/* media screen */

@media screen and (min-width: 925px) and (max-width: 1366px) {
  
}

@media screen and (max-width: 924px) {
  .text-box1 {
    font-size: x-small;
  }

  .text-box2 {
    font-size: small;
  }

  .card-size {
    width: 16rem;
  }

  .responsive-text {
    display: block;
  }

  .container6 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .container9 {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
  }
}

/* media screen */
